API_HOST=0.0.0.0
API_PORT=8000

MONGO_URL=mongodb://127.0.0.1:27017
MONGO_DB_NAME=salonflowai

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

FRONTEND_WEB_ORIGIN=http://localhost:8081
FRONTEND_LOCALHOST_ORIGIN=http://127.0.0.1:8081
FRONTEND_LAN_ORIGIN=http://192.168.10.17:8081
